/* @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro); */

/* @import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Pixelify+Sans:wght@400..700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Patrick+Hand&display=swap');
/* Global */
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Donegal+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



@supports (animation-timeline: view()) {
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  @keyframes shadow-in {
    to { box-shadow: 0 10px 10px #0003 }
  }}

body{
  /* cursor: url(assets/leaf-cursor.png); */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
    /* background-image: url("assets/pixelartcloud-final.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: "Katibeh", serif;
    /* background-image: url('assets/crayon-bg.png'); */
    /* background-color: #F7F7EF; */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: 100vh;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100vw;
  height: 100vh;
}
.slide {
  scroll-snap-align: start;
  flex: 0 0 100%;
  /* width: 100vw;
  height: 100vh; */
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  /* font-size: 2em; */
  /* color: white; */
}



@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.page-1{
  
  /* height: 100vw; */
  /* background-color: #3399CC; */
  background-image: url(assets/gif-2.gif);
  background-size: 100% ;

}

.image-me{
  position: relative;
  top: 5.5vh;
  /* bottom: 0; */
  z-index: 2;
  width: 100%;
  /* margin-bottom: 0;
  bottom: 0; */
  /* align-self: self-end; */


}
/* 
.Welcome-Text{

    position: relative;
    top: -10vh;

    font-size: 10vh;

    text-align: center;
 
    z-index: 2;
    color: #7F4511;

} */

.Welcome-Text{
  /* padding: 3vw; */
    position: relative;
    font-family: "Bona Nova SC", serif;
    margin-top: 14vh;
    /* top: 50vh; */
    font-size: 10vh;
    /* margin-left: 45vw; */
    /* padding: 5vh; */
    text-align: center;
    font-weight: 700;
    /* height: 5vh; */
    z-index: 2;
    color: #ffffff;
    /* background-image: url('assets/scribble.png'); */

}

.thanks-text-1{
  font-family: "Donegal One", serif;
  text-align: left;
  font-size: 3.5vh;
  position: relative;
  margin-top: 3vh;
  /* top: -55vh; */
  color: #F4FFD0;
  /* margin-left: 45vw;
   */
   text-align: center;



}


/* .Welcome-Text{

    position: relative;
    font-family: "Bona Nova SC", serif;
    top: 3vh;

    font-size: 10vh;
    margin-left: 45vw;

    z-index: 2;
    color: #7F4511;


} */




.illus{
  position: relative;
  opacity: 90%;
  /* top: 20vh; */
  /* top: 5vw; */
}


/* .self-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
} */

/* .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 23%;
  position: relative;
  top: -25vh;
} */
.center {
  display: block;
  margin-left: 18vw;
  /* margin-right: auto; */
  width: 23%;
  position: relative;
  top: -25vh;
}

/* .thanks-text{
  text-align: center;
  font-size: 5vh;
  position: relative;
  top: -30vh;
  color: #B17036;
} */


.thanks-text{
  font-family: 'Gochi Hand', cursive;
  text-align: left;
  font-size: 3.5vh;
  position: relative;
  top: -55vh;
  color: #B17036;
  margin-left: 45vw;
  line-height: 2;
  /* min-height: 70vh; */
  text-align: left;
  /* font-size: 130%;   */
  display: inline;
  background-image: linear-gradient(
        transparent 50%,
        #eebbdd 50%,
        #f5e4ef 85%,
        transparent 85%,
        transparent 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
}

.thanks-text-2{
  font-family: 'Gochi Hand', cursive;
  text-align: left;
  font-size: 3.5vh;
  position: relative;
  top: -55vh;
  color: #B17036;
  margin-left: 45vw;
  line-height: 2;
  /* min-height: 70vh; */
  text-align: left;
  /* font-size: 130%;   */
  display: inline;
  background-image: linear-gradient(
        transparent 50%,
        #eebbdd 50%,
        #f5e4ef 85%,
        transparent 85%,
        transparent 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
}


@keyframes animatedBackground {
  to {
      background-size: 100% 100%;
  }
}




.intro-text{
  font-size: 3vh;
  position: relative;
  top: 60vh;
  width: 35vw;
}



.sidebar {
  z-index: 5;
  height: 100%;
  width: 250px;
  position: fixed;
  top: 60vh;
  left: -2vw;
  /* background-color: #111; */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a {
  padding: 15px;
  text-decoration: none;
  font-size: 30px;
  /* color: white; */
  display: block;
  position: relative;
}

.sidebar a:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  /* background-color: black; */
  /* color: #fff; */
  text-align: center;
  /* border-radius: 5px; */
  /* padding: 5px 0; */
  position: absolute;
  z-index: 1;
  bottom: 85%; /* Position the tooltip above the text */
  left: 50%;
  margin-left: -60px; 
  color: #7F4511;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(104, 104, 104) transparent transparent transparent;
}

.content {
  margin-left: 260px; /* Same as the width of the sidebar */
  padding: 20px;
}


.sidepanel-1{
  height: 90vh;
  background-color: #E7EFE6;
  width: 43vw;
  position: absolute;
  top: 100vh;
}


.page-1{
  width: 100%;
}

.page-2{
  width: 100%;
  background-color: #69BCE6;
  
}

.about-head{
  font-size: 5vw;
  position: relative;
  color: #ffffff;
  font-family: "Bona Nova SC", serif;
  font-weight: 600;
  text-align: center;
  z-index: 3;
  top: -10vh;
  /* left: 44vw; */
  /* top: -20vh; */
  /* top: ; */
}

/* .about-section{
  display: flex;
} */

.about-text{
  font-size: 1.2vw;
  position: relative;
  width: 50vw;
  left: 25vw;
  font-family: "Patrick Hand", cursive;
  color: white;
  text-align: center;
  top: -7vh;
  /* font-family: "Donegal One", serif; */
  /* color: #7F4511; */
  /* left: 44vw; */
  /* top: -20vh; */
}

.page-3{
  position: relative;
  /* top: 10vh; */
  background-color: #d7f2ff;

  
}


.pub-content{
  display: flex;
}



.lily{
  width: 30%;
  margin-left: 8vw;
  margin-top: 10vh;
  z-index: 5;
  /* left: -100vw; */
}

.paper-wrapper{
  /* display: flex; */
  margin-top: 5vh;
  margin-left: -10vh;
  height: 60vh;
  /* width: 70vw; */
  overflow-y: scroll;
  background-color: #ffffff;
  display: flex;
  padding: 4vh;
  border-radius: 3px;
  margin-bottom: 5vh;
  background-image: url(assets/paper-bg.jpg);
}

/* .papers-container{
  display: flex;

} */

.paper{
  position: relative;
  border-radius: 4px;
  /* left: 15vh; */
  margin-left: 2vw;
  height: 25vh;
  font-family:'Times New Roman', Times, serif;
  font-weight: 700;
  width: 20vw;
  background-color: #ffffff;
  /* margin: 2vw; */
  margin-bottom: 4vw;
  padding: 2vw;
  margin-right: 2vw;
  /* height: 22vh; */
}


.paper-desc{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 200;
  padding-top: 3vh;
  font-size: 1.5vh;
  
}


.publications-head{
  font-family: "Bona Nova SC", serif;
  font-weight: 600;
  font-size: 5vw;
  position: relative;
  color: #043c58;
  padding-left: 15vh;
  margin-top: 6vh;
  /* position: relative; */
  /* left: 15vh; */

  /* top: ; */
}

.paper-tag{
  position: absolute;
  z-index: 3;
  top: 30vh;
  /* bottom: 0; */
  display: flex;
  margin-bottom: 2vh;
}

.tag{
  /* background-color: #669900; */
  margin-right: 1vh;
  color: white;
  padding: 1vh;
  /* width: 2vw; */
  border-radius: 8%;
  font-family: "Patrick Hand", cursive;
}



.page-4{
  position: relative;
  top: 15vh;
}

.experience-head{
  font-size: 5vw;
  position: relative;
  color: #7F4511;
  padding-left: 15vh;
  margin-bottom: -10vh;
  /* position: relative; */
  /* left: 15vh; */

  /* top: ; */
}

.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #1f1f1f; */
  min-height: 100vh;
  position: relative;
  top: -5vh;
  /* padding: 100px 0; */
  
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  font-family: "Patrick Hand", cursive;
  padding: 20px;
  background: #E9EDC9;
  /* -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
          box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424; */
  border-radius: 5px;
  /* color: white; */
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    /* background-image: #CCD5AE; */
    background-image: linear-gradient(45deg, #b6cb72, #8e9b64, #708237);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387); */
    background-image: linear-gradient(45deg, #b6cb72, #8e9b64, #708237);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}


.page-5{
  position: relative;
  /* background-color: #fffbf0; */
 
  background-image: url(assets/white-bg.jpeg);
  /* background-blend-mode:lighten; */
  background-size: cover; /* or "contain" depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  /* height: 100vh; */
}



.projects-head{
  font-size: 5vw;
  position: relative;
  color: #3D5B6B;
  padding-left: 15vh;
  font-family: "Bona Nova SC", serif;
  font-weight: 700;
  margin-top: 6vh;
  /* margin-bottom: -10vh; */
  /* position: relative; */
  /* left: 15vh; */

  /* top: ; */
}

.section-text{
  /* font-family: "Patrick Hand", cursive; */
  margin-left: 15vh;
  margin-top: 2vh;
  font-size: 2vh;
  color: #59869c;
  font-family: "Donegal One", serif;
}

.proj-wrapper{
  display: flex;
  margin-left: 10vh;
}

.proj-frame{
  background-color: #EAE9E3;
  height: 40vh;
  width: 19vw;
  margin-left: 6vh;
  padding-top: 2vh;
  /* border-color: #482404; */
  /* border-style: solid;
  border-width: 2px; */
  box-shadow: #a1a1a1 2px 2px;
  align-items: center;
}

.proj-img{
  width: 14vw;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  /* width: 50%; */
}

.proj-name{
  font-family: "Donegal One", serif;
  font-size: 2vh;
  color: #000000;
  text-align: center;
  padding-top: 2vh;
 
}

.proj-desc{
  font-family: "Donegal One", serif;
  font-size: 1.3vh;
  color: #3D5B6B;
  text-align: center;
  padding-top: 1vh;
 
}


.slider {
  
  padding-block: 12px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 4vh;
  top: 5vh;
  mask-image: linear-gradient(to right, transparent 20% 80%, #000, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, #000, transparent);
}

.list {
  display: flex;
  width: calc(
    var(--width) * var(--imageQuantity) * 2
  ); /* Double the width for seamless looping */
  gap: calc(var(--width) / 4);
  animation: autoScroll 20s linear infinite;
}

.list:hover {
  animation-play-state: paused !important;
}

a{
  text-decoration: none;
}

.item {
  width: var(--width);
  height: var(--height);
  flex-shrink: 0;
  width: 20vw;
  padding: 3vh;
  border-radius: 5px;
  /* background-color: #ffffff; */
  background-color: #f9ffe2;
  box-shadow: 2px 2px #e0e0e0;
  color: black;
  text-decoration: none;
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: large;
  font-family: "Patrick Hand", cursive;
  text-align: center;
  /* border-color: #d8ab84;
  border-style: dotted; */
}


/* .item-content{
  background-color: #2c2929;
  width: 15vw;
  height: 40vh;
}

.item-content-2{
  background-color: #512323;
  width: 15vw;
  height: 40vh;
}

.item-content-3{
  background-color: #a12323;
  width: 15vw;
  height: 40vh;
}

.item-content-4{
  background-color: #2377a1;
  width: 15vw;
  height: 40vh;
}


.item-content-5{
  background-color: #a1239f;
  width: 15vw;
  height: 40vh;
} */



.item img {
  width: 50%;
  /* height: 100%; */
  transition: filter 0.5s ease-in-out;
}

@keyframes autoScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--width) * var(--imageQuantity)));
  }
}

.slider[reverse="true"] .list {
  animation: reverseScroll 20s linear infinite;
}

@keyframes reverseScroll {
  0% {
    transform: translateX(calc(-1 * var(--width) * var(--imageQuantity)));
  }
  100% {
    transform: translateX(0);
  }
}

.slider:hover .item img {
  filter: grayscale(1);
}

.slider .item:hover img {
  filter: grayscale(0);
}

.project-tag{
  position: absolute;
  z-index: 3;
  top: -3vh;
  width: auto;
  /* bottom: 0; */
  display: flex;
}

.page-6{
  position: relative;

  /* top: 30vh; */
}


.act-content{
  width: 60vw;
}


.acad-head{
  font-size: 5vw;
  position: relative;
  color: #3D5B6B;
  padding-left: 10vh;
  font-family: "Bona Nova SC", serif;
  font-weight: 700;
  margin-top: 3vh;
  /* margin-bottom: -10vh; */
  /* position: relative; */
  /* left: 15vh; */

  /* top: ; */
}


.pointer{
  background-color: #ffffff;
  width: 60vw;
  border-radius: 5px;
  margin-left: 15vh;
  padding: 1vh;
  font-family: "Patrick Hand", cursive;
  font-size: 2vh;

}


.highlight{
  background-color: #eac3dd;
  padding: 1px;
  
}

.fishi-img{
  /* height: 70%; */
  position: relative;
  /* margin-left: 50vw; */
  opacity: 0.6;
  width: 40vw;
  height: 98vh;
}


.page6-container{
  display: flex;
}

.activity-window{
  background-image: url(assets/paper-bg.jpg);
  height: 70vh;
  width: 40vw;
  margin-left: 20vh;
  margin-top: 4vh;
  padding: 2vh;
  overflow-y: scroll;
}

ul.a {
  list-style-type: circle;
}

ul{
  padding-left: 2vh;
  font-family:"Patrick Hand", cursive;
  font-size: 2.5vh;
  margin-bottom: 1vh
}
li {
  margin: 10px 0;
}

.activity-desc{
  font-size: 1.8vh;
  margin-bottom: 1vh

}